@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    background-image: url(https://www.umweltbundesamt.de/sites/default/files/medien/378/bilder/arzneimittel_stillfx_fotolia_41089054_m.jpg);
    border-radius: 30px;
    color: #000;
    width: 1000px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 16px #000;
}

div {
    line-height: 2em;
    margin: none;
    
}

span {
    background-color: rgb(150, 247, 85);
    font-weight: bold;
}

button { 
    font-size:20px;
    text-align: center;
  
}